<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <div class="logo" *ngIf="!isCollapsed">
        <i class="pi pi-shield"></i>
        <span>Admin Panel</span>
      </div>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="pi" [class.pi-angle-left]="!isCollapsed" [class.pi-angle-right]="isCollapsed"></i>
      </button>
    </div>
  
    <nav class="sidebar-nav">
      <ul class="nav-list">
        <li *ngFor="let item of menuItems" class="nav-item">
          <a href="#" class="nav-link" [class.active]="item.active" (click)="navigateToRoute(item)">
            <i [class]="item.icon"></i>
            <span *ngIf="!isCollapsed">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <div class="sidebar-footer">
      <button class="logout-btn" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <span *ngIf="!isCollapsed">Logout</span>
      </button>
    </div>
  </div>
  