// Import mixin for Bootstrap breakpoints
@import '../../../../styles/mixin.scss';
// Import variables
@import '../../../../styles/variable.scss';

.consumer-home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dashboard-bg;
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-x: auto;
  
  @include media-breakpoint-only(xs) {
    padding: 1rem;
  }
  
  @include media-breakpoint-only(sm) {
    padding: 1.5rem;
  }
}